/**Coded by Tarpinderjot**/
body{
    position: relative;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../Images/harryPImages/uhh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: url(../Images/harryPImages/cursor2.png), auto;
}

/**coded by Tarpinderjot **/
/**Fade in video**/
.fullscreen-bg__video {
    animation: smokeRemove 3s 1.5s forwards;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 177.77777778vh;
    min-width: 100%;
    min-height: 56.25vw; 
    z-index: 5;
}
 
/**coded by Tarpinderjot**/
.fullscreen-bg {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    animation: smokeRemove 3s 1.5s forwards;
    }


/**Coded by Tarpinderjot**/
/*Background Image*/
.mainDiv {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url(../harryPImages/uhh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/**Coded by Tarpinderjot **/
/*Title*/
.logo{
    padding: 0;
    height: 140px;
    position: absolute;
    left: 30%;
    top: 0;
    visibility: hidden;
    animation: appear 1s forwards;
    animation-delay: 4s; 
    
}

/**Coded by Linea **/
/*Box for buttons*/
.button-container{
    width: 160px;
    right: 0%;
    position: absolute;
    top: 0;
    right: 2%;
}

/*Buttons*/
.button{
    position: relative;
    text-decoration: #000000;
    
}

/*Text*/
.links{
    position: absolute;
    top: 30%;
    color: #ffffff;
    text-transform: none;
    opacity: 0;
    font-family: didot, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

/*Hover effect*/
.links:hover{
    opacity: 1;
    border-radius: 25px;
    padding: 5px 10px;
}

/**Coded by Tarpinderjot **/
/*Animations*/
.snitch {
    height: 50px;
    position: absolute;
    animation: broomFly linear 8s infinite;
    animation-delay: 3.5s;
    visibility: hidden;
}

/**Coded by Tarpinderjot **/
.harryBroom {
    position: fixed;
    top: 35%;
    right: 0;
    height: 150px;
    animation: broomFly linear 8s infinite;
    animation-delay: 4s;
    visibility: hidden;
}

/**Coded by Tarpinderjot **/
.spell {
    position: fixed;
    bottom: 10%;
    left: 10%;
    border: solid #228c22 2px;
    height: 10px;
    width: 35px;
    border-radius: 15px;
    background-color: #228c22;
    transition: transform 1s;
    visibility: hidden;
}

/**Coded by Tarpinderjot **/
.ron:hover + .spell{
    visibility: visible;
    transform: translateX(16vw);
}


/**Coded by Linea **/
/*Characters+ funacts-linea*/
.funfacts {
    color:#000000;
    border-radius: 20px;
    border: 3px solid #04310f;
    background-color: #6a7e66;
    margin: 0;
    width: 260px;
    height: 60px;
    position: absolute;
    visibility: hidden;
    font-family: didot, sans-serif;
    font-weight: bold;
    text-align: center;
}

/**Coded by Tarpinderjot **/
.ron {
    position: fixed;
    bottom: 0;
    left: 0;
    visibility: hidden;
    animation: appear 1s forwards;
    animation-delay: 4s;
}

/**Coded by Tarpinderjot **/
.deatheater {
    position: fixed;
    bottom: 0;
    left: 20%;
    height: 250px;
    visibility: hidden;
    animation: appear 1s forwards;
    animation-delay: 4s;
}

/**Coded by Linea **/
.deatheater-funfact {
    left: 25%;
    bottom: 33%;
}

/**Coded by Linea **/
.deatheater:hover + .deatheater-funfact{
    visibility: visible;
}

/**Coded by Tarpinderjot **/
.hermonie {
    position: fixed;
    bottom: 5%;
    right: 10%;
    height: 250px;
    visibility: hidden;
    animation: appear 1s forwards;
    animation-delay: 4s;
}

/**Coded by Linea **/
.hermonie-funfact {
    bottom: 35%;
    right: 12%;
}

/**Coded by Linea **/
.hermonie:hover + .hermonie-funfact{
    visibility: visible;
}

/**Coded by Tarpinderjot **/
.albus {
    height: 250px;
    position: absolute;
    left: 40%;
    top: 40%;
    visibility: hidden;
    animation: appear 1s forwards;
    animation-delay: 4s;
}

/**Coded by Linea **/
.albus-funfact{
    left: 35%;
    top: 38%;
}

/**Coded by Linea **/
.albus:hover + .albus-funfact{
    visibility: visible;
}

/**Coded by Tarpinderjot **/
.hagrid {
    height: 200px;
    position: absolute;
    right: 30%;
    bottom: 10%;
    visibility: hidden;
    animation: appear 1s forwards;
    animation-delay: 4s;
}

/**Coded by Linea **/
.hagrid-funfact {
    right: 32%;
    bottom: 35%;
}

/**Coded by Linea **/
.hagrid:hover + .hagrid-funfact {
    visibility: visible;
}


/**Coded by Tarpinderjot**/
/*Keyframes*/

@keyframes broomFly {
     
        0% {
            top: 70%; 
            right: 0%;
            visibility: hidden;
        }


        48% {
            transform: scaleX(1);
        }
        50%{
            right: 90%;
            top: 0%;
            transform: scaleX(-1);
           
        }


        98%{
            transform: scaleX(-1);  
        }
       
    
        100% {
            transform: scaleX(1);
            top:70%;
            right: 0;   
            visibility: visible; 
              
        }
    }
    

    @keyframes appear {
        from{
            
            visibility: hidden
        }
    
        to {
            
            visibility: visible;
        }
    }
    
    @keyframes smokeRemove {
        0%{
            display: block;
            opacity: 1;
            background-color:#000;
        }
    
        75% {
            display: block; 
            opacity: 1;
            background-color: #000;
        }
    
        100%{
            opacity: 0;
            display: none;
            background-color: #000;
            visibility: visible;
        }
    }








