body{
    position: relative;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../Images/harryPImages/uhh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


/**FADE IN VIDEO **/
.fullscreen-bg__video {
    animation: smokeRemove 3s 1.5s forwards;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 177.77777778vh;
    min-width: 100%;
    min-height: 56.25vw; 
    z-index: 5;
}
    
.fullscreen-bg {
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    animation: smokeRemove 3s 1.5s forwards;
    }



/*Background Image */
.mainDiv {
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: url(../harryPImages/uhh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

/* Title */
.logo{
    padding: 0;
    height: 140px;
    position: absolute;
    left: 30%;
    top: 0;
    visibility: hidden;
    animation: appear 1s forwards;
    animation-delay: 4s; 
    
}

/*LINKS/Button*/
.links {
    padding: 20px;
    width: 400px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;

    
}

.button {
    text-decoration: none;
    padding: 8px;
    background-color: #fff;
    color: black;
    font-size: 16px;
    font-weight: bold;
    border-radius: 25px;
    margin-bottom: 1.2rem;
    visibility: hidden;
    animation: appear 1s forwards;
    animation-delay: 4s;
}

.button:hover, .button:focus {
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border-radius: 25px;
    font-size: 22px;
}

/*ANIMATIONS */

.snitch {
    height: 50px;
    position: absolute;
    animation: broomFly linear 8s infinite;
    animation-delay: 3.5s;
    visibility: hidden;
}

.harryBroom {
    position: fixed;
    top: 35%;
    right: 0;
    height: 150px;
    animation: broomFly linear 8s infinite;
    animation-delay: 4s;
    visibility: hidden;
}

.spell {
    position: fixed;
    bottom: 10%;
    left: 10%;
    border: solid green 2px;
    height: 10px;
    width: 35px;
    border-radius: 15px;
    background-color: green;
    transition: transform 1s;
    visibility: hidden;
}

.ron:hover + .spell{
    visibility: visible;
    transform: translateX(16vw);
}



/* Characters+ Facts */
.funfacts {
    color: black;
    border-radius: 5px;
    border: 2.5px solid #530404;
    background-color: #eee5c1;
    margin: 0;
    width: 250px;
    position: absolute;
    visibility: hidden;
}

.ron {
    position: fixed;
    bottom: 0;
    left: 0;
    visibility: hidden;
    animation: appear 1s forwards;
    animation-delay: 4s;
}

.deatheater {
    position: fixed;
    bottom: 0;
    left: 20%;
    height: 250px;
    visibility: hidden;
    animation: appear 1s forwards;
    animation-delay: 4s;
}

.deatheater-funfact {
    left: 25%;
    bottom: 33%;
}

.deatheater:hover + .deatheater-funfact{
    visibility: visible;
}

.hermonie {
    position: fixed;
    bottom: 5%;
    right: 10%;
    height: 250px;
    visibility: hidden;
    animation: appear 1s forwards;
    animation-delay: 4s;
}

.hermonie-funfact {
    bottom: 35%;
    right: 12%;
}

.hermonie:hover + .hermonie-funfact{
    visibility: visible;
}

.albus {
    height: 250px;
    position: absolute;
    left: 40%;
    top: 40%;
    visibility: hidden;
    animation: appear 1s forwards;
    animation-delay: 4s;
}

.albus-funfact{
    left: 35%;
    top: 38%;
}

.albus:hover + .albus-funfact{
    visibility: visible;
}

.hagrid {
    height: 200px;
    position: absolute;
    right: 30%;
    bottom: 10%;
    visibility: hidden;
    animation: appear 1s forwards;
    animation-delay: 4s;
}

.hagrid-funfact {
    right: 32%;
    bottom: 35%;
}

.hagrid:hover + .hagrid-funfact {
    visibility: visible;
}

/*Keyframes*/

@keyframes broomFly {
     
        0% {
            top: 70%; 
            right: 0%;
            visibility: hidden;
        }


        48% {
            transform: scaleX(1);
        }
        50%{
            right: 90%;
            top: 0%;
            transform: scaleX(-1);
           
        }


        98%{
            transform: scaleX(-1);  
        }
       
    
        100% {
            transform: scaleX(1);
            top:70%;
            right: 0;   
            visibility: visible; 
              
        }
    }
    

    @keyframes appear {
        from{
            
            visibility: hidden
        }
    
        to {
            
            visibility: visible;
        }
    }
    
    @keyframes smokeRemove {
        0%{
            display: block;
            opacity: 1;
            background-color: black
        }
    
        75% {
            display: block; 
            opacity: 1;
            background-color: black
        }
    
        100%{
            opacity: 0;
            display: none;
            background-color: black;
            visibility: visible;
        }
    }








