/*heihei*/ 

body {
    margin: 0;
    overflow: hidden;
    background-image: url(../Images/lotr/weathertop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    cursor: url(../Images/lotr/sting-cursor.png), default;
}

/* Menu sidebar, LINEA: gjør hva du vil her */

.menu-bar {
    position: absolute;
    z-index: 5;
    right: 0;
  }
  
.btn {
    width: 100px;
    height: auto;
    opacity: 0.85;
}
  
.btn:hover {
    opacity: 1;
}
  
/* Intro */

.intro-bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.intro-bg img {
    min-width: 100%;
    min-height: 100%;
}

.intro-hobbit {
    position: absolute;
    top: 50%;
    left: 30%;
    display: flex;
    flex-direction: row-reverse;   
    animation-name: journeyHobbit;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.walking-hobbit {
    height: 90px;
    animation-name: walkHobbit;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.intro-scene {
    animation-name: fadeOut;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* Intro animations */

@keyframes journeyHobbit {
    0% {left: 30%;}
    25% {left: 40%; top: 40%}
    50% {left: 55%;}
    100% {left: 60%; top: 60%;}
}

@keyframes walkHobbit {
    from {transform: skewX(10deg);}
    to {transform: skewY(10deg);}
}

@keyframes fadeOut {
    0% {opacity: 1; display: block;}
    75% {opacity: 1; display: block;}
    100% {opacity: 0; display: none;}
}

/* Main Scene */

#campfire {
    position: absolute;
    height: 100px;
    top: 56%;
    left: 64%;
    z-index: 2;
    animation: fadeIn 6s 1 ease-in-out;
}

.nazgul {
    z-index: 2;
    height: 300px;
    
}

#nazgul-1 {
    top: 50%;
    position: absolute;
    transform: skewY(5deg);
    animation: fadeIn 6s 1 ease-in-out, nazgulFight 10s forwards;
    animation-delay: 0s, 9s;
}

#nazgul-2 {
    top: 50%;
    position: absolute;
    transform: skewY(10deg);
    animation: fadeIn 6s 1 ease-in-out, nazgulFight 12s forwards;
    animation-delay: 0s, 9s;
}

#nazgul-3 {
    top: 50%;
    position: absolute;
    transform: skewX(10deg);
    animation: fadeIn 6s 1 ease-in-out, nazgulFight 8s forwards;
    animation-delay: 0s, 9s;
}

@keyframes nazgulFight {
    0% {transform: rotate(-5deg); bottom: 40%; left: 0%;}
    100% {transform: rotate(15deg); bottom: 25%; left: 20%;}
}

#aragorn {
    position: absolute;
    transform: skewY(15deg);
    height: 350px;
    bottom: 15%;
    left: 35%;
    z-index: 1;
    animation: fadeIn 6s 1 ease-in-out, aragornFight 10s forwards;
    animation-delay: 0s, 9s;
}

@keyframes aragornFight {
    0% {transform: rotate(5deg);}
    100% {transform: rotate(-15deg); bottom: 20%; left: 30%;}
}

.hobbit {
    position: absolute;
    z-index: 1;
    animation: fadeIn 6s 1 ease-in-out;
}

#frodo {
    position: absolute;
    height: 200px;
    right: 30%;
    bottom: 10%;
    z-index: 2;
    opacity: 1;
}

#frodo:hover{
    animation-name: Invisibility;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    cursor: url(../Images/lotr/gandalf-cursor.png), pointer;
}

@keyframes Invisibility {
    from {opacity: 1;}
    to {opacity: 0;}
}

#sam {
    position: absolute;
    left: 50%;
    top: 50%;
}

#merry {
    position: absolute;
    height: 170px;
    top: 33%;
    right: 28%;
}

#pippin {
    position: absolute;
    height: 190px;
    top: 40%;
    right: 15%;
}

/* making elements clickable after intro */

@keyframes fadeIn {
    0% {opacity: 0;}
    97% {opacity: 0;}
    100% {opacity: 1;}
}