

body {
    margin: 0;
    overflow: hidden;
    background-image: url(../Images/lotr/weathertop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    cursor: url(../Images/lotr/sting-cursor.png), default;
}

/* Intro */

.intro-bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.intro-bg img {
    min-width: 100%;
    min-height: 100%;
}

.intro-hobbit {
    position: absolute;
    top: 50%;
    left: 30%;
    display: flex;
    flex-direction: row-reverse;   
    animation-name: journeyHobbit;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.walking-hobbit {
    height: 90px;
    animation-name: walkHobbit;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.intro-scene {
    animation-name: fadeOut;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* Intro animaations */

@keyframes journeyHobbit {
    0% {left: 30%;}
    25% {left: 40%; top: 40%}
    50% {left: 55%;}
    100% {left: 60%; top: 60%;}
}

@keyframes walkHobbit {
    from {transform: skewX(10deg);}
    to {transform: skewY(10deg);}
}

@keyframes fadeOut {
    0% {display: block; opacity: 1;}
    75% {display: block; opacity: 1;}
    100% {display: none; opacity: 0;}
}

/* Weathertop */

#campfire {
    position: absolute;
    height: 100px;
    top: 56%;
    left: 64%;
    z-index: -2;
}

.nazgul {
    position: absolute;
    z-index: -2;
    height: 300px;
    top: 50%;
}

#nazgul-1 {
    position: absolute;
    transform: skewY(5deg);
}

#nazgul-2 {
    position: absolute;
    transform: skewY(10deg);
}

#nazgul-3 {
    position: absolute;
    transform: skewX(10deg);
}

#aragorn {
    position: absolute;
    transform: skewY(15deg);
    height: 350px;
    bottom: 13%;
    left: 35%;
    z-index: -1;
}

.hobbit {
    position: absolute;
    z-index: -3;
}

#frodo {
    position: absolute;
    height: 200px;
    right: 30%;
    bottom: 10%;
    z-index: -1;
}

#sam {
    position: absolute;
    left: 50%;
    top: 50%;
}

#merry {
    position: absolute;
    height: 170px;
    top: 33%;
    right: 28%;
}

#pippin {
    position: absolute;
    height: 190px;
    top: 40%;
    right: 15%;
}

