
body {
    margin: 0;
    overflow: hidden;
    background-image: url(/Images/lotr/Weathertop03.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Intro */

.intro-bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.intro-bg img {
    min-width: 100%;
    min-height: 100%;
}

.intro-hobbit {
    position: absolute;
    top: 50%;
    left: 30%;
    display: flex;
    flex-direction: row-reverse;   
    animation-name: journeyHobbit;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

.walking-hobbit {
    height: 90px;
    animation-name: walkHobbit;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.intro-scene {
    animation-name: fadeOut;
    animation-duration: 7s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

/* Intro animaations */

@keyframes journeyHobbit {
    0% {left: 30%;}
    25% {left: 40%; top: 40%}
    50% {left: 55%;}
    100% {left: 60%; top: 60%;}
}

@keyframes walkHobbit {
    from {transform: skewX(10deg);}
    to {transform: skewY(10deg);}
}

@keyframes fadeOut {
    0% {display: block; opacity: 1;}
    75% {display: block; opacity: 1;}
    100% {display: none; opacity: 0;}
}

/* Weathertop */

