body {
    position: relative;
    background-color: gray;
    background-size: cover;
    min-height: 100vh;  
    }
    
.wrapper {
    position: absolute;
}

.fullLego {
position: absolute;
color: rgba(#000,.8);
right: 0;
transform: translateX(50%);
}

.wrapper:focus{
    z-index: 999;
    border: red 5px solid;
}

textarea {
    opacity: 0;
    width: 500px;
}

.noteHeader {
    position: absolute;
    pointer-events: none;
    width: 20px;
    margin-left: 90px;
    margin-right: 97px;
    margin-bottom: 7px;
    border-radius: 50%;
    height: 20px;
    background-color: green;
    right: 0;
    transform: translate(100px, -20px);
}

.lego-brick {
    width: 15vw;
    height: 6vh;
    background-color: red;
}

.lego-dots {
    display: flex;
    /* Same width as lego brick */
    width: 15vw;
    justify-content: space-evenly;
}

.lego-dot {
    width: 2vw;
    height: 1.6vh;
    background-color: red;
}

.legoHider {
    position: absolute;
    top: 60vh;
    left: 15vw;
    background-color: lightblue;
    width: 70vw;
    height: 15vh;
    z-index: 1000;
}

.linkText {
    position: absolute;
    color: gray;
    top: 32vh;
    left: 12vw;
    font-size: xx-large;
}