@font-face {
    font-family: Legofont;
    src: url(/Fonts/Legothick.ttf);
}

.no-pointer-events {
    pointer-events: none;
}

.drag-box-above-chest {
    z-index: 3;
}

.absolute {
    position: absolute;
}

.lego2-on-top-at-start {
    z-index: 5;
}

body {
    position: relative;
    background-size: cover;
    min-height: 100vh;  
    overflow: hidden;
    margin: 0;
    z-index: -2;
    }
    
.fullLego {
    position: absolute;
    color: rgba(#000000,.8);
    right: 0;
    transform: translateX(47%);
}

textarea {
    opacity: 0;
    width: 500px;
}

textarea:hover {
    cursor: default;
}

.lego-header {
    position: absolute;
    pointer-events: none;
    width: 20px;
    margin-left: 90px;
    margin-right: 97px;
    margin-bottom: 7px;
    border-radius: 50%;
    height: 20px;
    background-color: #000000;
    right: 0;
    transform: translate(100px, -20px);
}

.lego-brick {
    height: 6vh;
}

.lego-dots {
    display: flex;
    justify-content: space-evenly;
    height: 1.3vh;
}

.lego1-width {
    width: 15vw;
}

.lego2-width {
    width: 10vw;
}

.lego3-width {
    width: 20vw;
}

.lego1-color {
    background-color: #bbbbbb;
}

.lego2-color {
    background-color: #333333;
}

.lego3-color {
    background-color: #337b24;
}

.lego-dot {
    width: 2vw;
    height: 1.6vh;
}

.link-text1 {
    position: absolute;
    color: #e8ded1;
    top: 32vh;
    left: 14vw;
    font-family: Legofont;
    font-size: 1.7vw;
    z-index: 4;
}

.link-text2 {
    position: absolute;
    color: #e8ded1;
    top: 13vh;
    left: 43vw;
    font-family: Legofont;
    font-size: 1.7vw;
    z-index: 6;
}

.link-text3 {
    position: absolute;
    color: #e8ded1;
    top: 26vh;
    left: 70.2vw;
    font-family: Legofont;
    font-size: 1.7vw;
    color: #e8ded1;
    z-index: 4;
}

.lego-background {
    background-color: #e8ded1;
    height: 100vh;
    width: 100vw;
}

.background-lego1 {
    top: 29vh;
    left: 12vw;
    position: absolute;
    color: rgba(#000000,.8);
    right: 0; 
}

.background-lego2 {
    left: 42vw;
    top: 10vh;
    position: absolute;
    color: rgba(#000000,.8);
    right: 0; 
}

.background-lego3 {
    left: 68vw;
    top: 23vh;
    position: absolute;
    color: rgba(#000000,.8);
    right: 0; 
}

.background-lego-brick {
    height: 6vh;
    background-color: #e8ded1;
    border: 2px solid #000000;
}

.background-lego-dots {
    display: flex;
    justify-content: space-evenly;
    height: 1.3vh;
}

.background-lego-dot {
    width: 2vw;
    height: 1.6vh;
    background-color: #e8ded1;
    border-left: #000000 2px solid;
    border-top: #000000 2px solid;
    border-right:  #000000 2px solid;
}

.block-lego1-at-start {
    position: absolute;
    height: 6vh;
    left: 32.9vw;
    top: 56.3vh;
    z-index: 6;
}

.block-lego2-at-start {
    position: absolute;
    height: 6vh;
    left: 46.3vw;
    top: 48.3vh;
    z-index: 6;
}

.block-lego3-at-start {
    position: absolute;
    height: 6vh;
    left: 55.3vw;
    top: 54.3vh;
    z-index: 6;
}

.lego1-start-pos {
    height: 54vh;
    width: 40vw;
}

.lego2-start-pos {
    height: 46vh;
    width: 51vw
}

.lego3-start-pos {
    height: 52vh;
    width: 65vw;
}

a {
    display: block;
    height: 100%;
    z-index: 7;
}

@keyframes move-box {
    10% {
        opacity: 1;
        top: 50vh;
        left: 20vw;
    }
    55% {
        left: 63.5vw;
        top: 48.5vh;
        transform: scale(1);
    }
    65% {
        transform: scale(0.8);
        left: 63.5vw;
        top: 48.5vh;
    }
    95% {
        transform: scale(0.7);
        top: 18vh;
        left: 76.5vw;
    }
    100% {
        opacity: 1;
        top: 18vh;
        left: 76.5vw;
    }
}

.intro-cursor {
    position: absolute;
    z-index: 10;
    width: 4vw;
    animation: move-box 3s linear;
    opacity: 0;
    top: 50vh;
    left: 20vw;
}



/* REST OF DOCUMENT IS FOR CHEST CSS */



.toy-box-wrapper{
    width: 800px;
    height: 800px;
    background-color: transparent;
    left: calc(50vw - 400px);
    top: calc(60vh - 400px);
    transform: scale(1.2);
}

.gold {
    background-color: #ffd700;
}

.bottom-left-line {
    width: 200px;
    height: 20px;
    transform: rotate(14deg);
    top: 640px;
    left: 210px;
}

.bottom-right-line {
    width: 300px;
    height: 20px;
    transform: rotate(-20deg);
    top: 610px;
    left: 390px;
}

.vert-line1 {
    width: 210px;
    height: 20px;
    transform: rotate(-96deg);
    top: 510px;
    left: 110px;
}

.vert-line2 {
    width: 210px;
    height: 20px;
    transform: rotate(-83deg);
    top: 550px;
    left: 300px;
}

.vert-line3 {
    width: 190px;
    height: 20px;
    transform: rotate(-83deg);
    top: 470px;
    left: 585px;
}

.upper-left-line {
    width: 235px;
    height: 20px;
    transform: rotate(12deg);
    top: 430px;
    left: 193px;
}

.upper-right-line {
    width: 290px;
    height: 20px;
    transform: rotate(-14deg);
    top: 420px;
    left: 410px;
}

.top-left-line {
    width: 310px;
    height: 20px;
    transform: rotate(-12deg);
    top: 370px;
    left: 190px;
}

.top-right-line {
    width: 225px;
    height: 20px;
    transform: rotate(10deg);
    top: 360px;
    left: 480px;
}

.lid-circle-left {
    top: 220px;
    left: 20px;
    width: 220px; 
    height: 100px;  
    border: solid 20px;
    border-color: #ffd700 transparent transparent transparent;
    border-radius: 100%/250px 250px 0 0;
    transform: rotate(-90deg);
}

.lid-vert-line1 {
    width: 240px;
    height: 20px;
    transform: rotate(-91deg);
    top: 270px;
    left: 80px;
}

.lid-top-line {
    width: 305px;
    height: 20px;
    transform: rotate(-5deg);
    top: 148px;
    left: 190px;
}

.lid-vert-line2 {
    width: 200px;
    height: 20px;
    transform: rotate(-91deg);
    top: 240px;
    left: 387px;
}

.gold-box {
    width: 70px;
    height: 70px;
    transform: rotate(-10deg);
    top: 430px;
    left: 540px;
    border-radius: 15px;
    opacity: 1;
}

.keyhole-triangle {
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top: 0;
    border-bottom: 30px solid #8a4c00;   
    top: 457px;
    left: 562px;
    transform: rotate(-10deg);
}

.keyhole-circle {
    width: 25px;
    height: 25px;
    background-color: #8a4c00;
    border-radius: 100%;
    top: 447px;
    left: 562px;
    transform: rotate(-10deg);
}

.bottom-left-panel {
    width: 170px;
    border-bottom: 210px solid #dfaf74;
    border-left: 0px solid transparent;
    border-right: 60px solid transparent;
    transform: rotate(10deg) scale(-1, -1);
    top: 434px;
    left: 175px;
    z-index: -5;
}

.bottom-right-panel1 {
    width: 170px;
    border-bottom: 250px solid #dfaf74;
    border-left: 0px solid transparent;
    border-right: 25px solid transparent;
    transform: rotate(76deg);
    top: 410px;
    left: 405px;
    z-index: -5;
}

.bottom-right-panel2 {
    width: 70px;
    border-bottom: 160px solid #dfaf74;
    border-left: 60px solid transparent;
    border-right: 0px solid transparent;
    transform: rotate(-14deg) scale(-1,-1);
    top: 420px;
    left: 575px;
    z-index: -5;
}

.inside-panel-right {
    top: 355px;
    left: 485px;
    border-top: 45px solid transparent;
    border-bottom: 45px solid transparent;
    border-left: 200px solid #dfaf74;
    transform: rotate(-2deg);
    z-index: -5;
}

.inside-panel-left {
    top: 365px;
    left: 225px;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 200px solid #dfaf74;
    transform: scale(-1, -1);
    z-index: -5;
}

.inside-panel-mid {
    height: 90px;
    width: 80px;
    top: 365px;
    left: 415px;
    background-color: #dfaf74;
    transform: rotate(-14deg);
    z-index: -5;
    opacity: 1;
}

.inside-panel-line {
    width: 80px;
    height: 5px;
    background-color: #b68c59;
    transform: rotate(-89deg);
    top: 396px;
    left: 445px;
    z-index: -4;
}

.lid-panel-mid {
    width: 200px;
    border-bottom: 290px solid #dfaf74;
    border-left: 10px solid transparent;
    border-right: 20px solid transparent;
    transform: rotate(84deg);
    top: 130px;
    left: 230px;
    z-index: -5;
}

.lid-panel-left {
    top: 220px;
    left: 20px;
    width: 220px; 
    height: 100px;  
    border: solid 20px;
    background-color: #dfaf74;
    border-color: #ffd700 transparent transparent transparent;
    border-radius: 100%/250px 250px 0 0;
    transform: rotate(-90deg);
    z-index: -5;
}

.lid-panel-shadow-right {
    top: 205px;
    left: 344px;
    width: 173px; 
    height: 80px;  
    border: solid 5px;
    border-color: #b68c59 transparent transparent transparent;
    border-radius: 100%/200px 200px 0 0;
    transform: rotate(-91deg);
}

.lego-logo {
    width: 130px;
    transform: rotate(-14deg);
    left: 500px;
    top: 510px;
}

.lock {
    position: relative;
    left: -15px;
}