/* Main page */
html{
    cursor: url(/images/star-wars/red_Lightsaber-min.png),auto;
}
body{
    margin: 0;
    overflow: hidden;
    background-image: url(/images/star-wars/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    position: absolute;
    width: 30%;
    top: 0%;
    right: 40%;
    z-index: -1;
   
}
/* INTRO-PAGE */
.intro-bg {
    width: 100%;
    height: 100%;
    position: absolute;
}
.intro-bg img {
    min-width: 100%;
    min-height: 100%;
}
.intro-scene{
    animation-name: fadeout;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    
}
/* Figures */

#trooper{
    position: absolute;
    width: 5%;
    bottom: 7%;
    left: 3%; 
    animation: fadein 10s 1 ease-in-out forwards;
}
.lazer{
    position: absolute;
    top: 86%;
    left: 3%;
    height: 5px;
    width: 30px;
    border-radius: 15px;
    background-color: turquoise;
    visibility: hidden;
    animation: shooting 0.5s infinite ease-in-out;
    z-index: -1;
}
#jawa{
    position: absolute;
    width: 7%;
    bottom: 2%;
    left: 20%;
    z-index: -1;

}
#aircraft{
    position: absolute;
    left: 93%;
    animation: flight 25s 1s linear infinite;
    width: 5%;
    z-index: -1;
}
#darth-vader{
    position: absolute;
    width: 7%;
    bottom: 2%;
    right: 15%;
    animation: fadein 4.2s 1 ease-in-out;    
}
#c-3po{
    position: absolute;
    width: 4%;
    bottom: 20%;
    right: 40%;
    animation: up 3s infinite;
    visibility: hidden;
   
}
#ray, #r2d2{
    position: relative;
    width: 4%;
    left: 30%;
    margin-top: 35%;
    animation: fadein 4.2s 1;
}
#tusken{
    position: absolute;
    width: 4%;
    bottom: 20%;
    right: 30%;
    animation: fadein 13s 1;
   
}
#trooper-2{
    position: absolute;
    width: 9%;
    left: 30%;
    bottom: 0%;
    z-index: -1;
}
#trooper-3{
    position: absolute;
    width: 3.5%;
    right: 1%;
    bottom: 20%;
    z-index: -1;
}

.hidden-jawas{
    position: absolute;
    width: 5%;
    top: 10%;
    left: -3%;
    transform: rotate(60deg);
    animation: hiding 5s infinite ease-in-out;
}
#jawa2{
    position: absolute;
    width: 8%;
    bottom: -20%;
    left: 50%;
    animation: popUp 15s 3 ease-in-out;
    animation-delay: 10s;

}


/* knapper for å komme til en ny side */
.mainpage-button{
    position: absolute;
    width: 10%;
    right: 1%;
    top: 23%;
    transform: scale(0.4);
    animation: fadein 8s 1 forwards;
    
}
.lotr-button{
    position: absolute;
    width: 10%;
    right: -1%;
    top: 44%;
    transform: scale(0.4);
    animation: fadein 8s 1 forwards;
   
}
.hp-button{
    position: absolute;
    width: 10%;
    right: -1%;
    top: 33%;
    transform: scale(0.4);
    animation: fadein 8s 1 forwards;
    
}

/* funfact */
.funfact1{  
    color:#000;
    border-radius: 20px;
    border: 3px solid #5a5c5e;
    background-color: #bdbec0;               /* Denne funfact boksen er plassert over Ray og R2D2 */
    margin: 0;
    width: 250px;
    text-align: center;
    position: absolute;
    bottom: 35%;
    right: 60%;
    visibility: hidden;
    font-family: didot, sans-serif;
    font-weight: bold;
}
#ray:hover + .funfact1{
    visibility: visible;
}
.funfact2{   
    color:#000;
    border-radius: 20px;
    border: 3px solid #5a5c5e;
    background-color: #bdbec0;
    position: absolute;
    text-align: center;
    top: 18%;
    right: 1%;              /* Denne funfact boksen er plassert over trooper-3 */
    margin: 0;
    width: 250px;
    font-family: didot, sans-serif;
    font-weight: bold;

    
    opacity: 0;
    animation: fadein 13s 1 forwards;
}
.funfact3{                 /* Denne funfact boksen er plassert over tusken */
    margin: 0;
    width: 250px;
    position: absolute;
    bottom: 35%;
    right: 25%;
    text-align: center;
    visibility: hidden; 
    color:#000;
    border-radius: 20px;
    border: 3px solid #5a5c5e;
    background-color: #bdbec0;
    font-family: didot, sans-serif;
    font-weight: bold;


    
}
#tusken:hover + .funfact3{
    visibility: visible;
}
#tusken:hover{
    transform: scale(1.5);
}

#ray:hover{
    transform: scale(1.5);
}

/* Hover-animations*/

#darth-vader:hover + #c-3po{
    visibility: visible;
} 
#trooper:hover{
        transform: scale(1.5);
}
    
#darth-vader:hover{
        transform: scale(1.5);
}    
#trooper:hover + .lazer{
    visibility: visible;
}

.hp-button:hover{
    transform: scale(1);
}
.lotr-button:hover{
    transform: scale(1);
}

.mainpage-button:hover{
    transform: scale(1);
}

/* Animations */
@keyframes fadeout{                                 /* Animation for the intro-page */
    0% {display: block; opacity: 1; transform: scale(2);}
    75%{display: block; opacity: 1; transform: scale(1);}
    100%{display: none; opacity: 0; transform: scale(2);}
}
@keyframes fadein{         /* I made this animation so the figures that have hover-effect will work */
    0%{opacity: 0;}
    75%{opacity: 0;}            
    100%{opacity: 1;}           
}
@keyframes up{                       /* This is the animation for darth-vader to lift up C-3PO */
    0%{ bottom: 20%; transform: rotate(-180deg);}
    50%{ bottom: 50%;}
    100%{ bottom: 20%; transform: rotate(180deg);}
}
@keyframes flight{                               /* Animation for the aircraft */
    0%{ transform: scale(1);}
    20%{top: 20%;}
    35%{top: 30%;}
    48%{transform: scale(1); top: 30%;}
    50% {transform: scaleX(-1); width: 5%; left: 0%;}
    75%{top: 20%;}
    98%{transform: scaleX(-1); top: 20%;}
    100%{transform: scale(1);}
}
@keyframes shooting{                         /* Animation for the lazer coming from trooper */
    from { bottom: 5%; left: 8%; }
    to { bottom: 5%; left: 22%; }
}
@keyframes hiding{
    0%{opacity: 0;}
    35%{opacity: 0;}
    50%{opacity: 0;}
    98%{opacity: 1;}
    100%{opacity: 1;}
}
@keyframes popUp {
    0%{ bottom: -20%; opacity: 0;}
    75%{bottom: 0%; right: 50%; opacity: 0.5;}
    100%{bottom: -30%; opacity: 1;}
    
}

