
body {
    margin: 0;
    overflow: hidden;
}

.intro-bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

.intro-bg img {
    min-width: 100%;
    min-height: 100%;
}

.intro-hobbit {
    position: absolute;
}

.walking-hobbit {
    height: 100px;
}


